.about-details {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8vw;
    margin-top: 50px;
    overflow: hidden;
  }
  
  
  .about-details img {
    width: 40%;
    max-width: 350px;
    z-index: 1;
  }
  
  .about-infos {
    flex: 1;
    max-width: 50%;
    text-align: left;
  }
  
  .about-infos h1 {
    font-size: 3rem;
    color: #232155;
    margin-bottom: 20px;
  }
  
  .about-infos p {
    color: #4a4b6d;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  html.dark .about-infos p{
    color: #f9f9f9;
  }
  
  
  .experience-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
  }
  
  .experience {
    text-align: center;
  }
  
  .experience i {
    font-size: 2rem;
    color:  #3931e1;
    margin-bottom: 10px;
  }
  
  .experience span {
    font-size: 2rem;
    font-weight: bold;
    color:  #3931e1;
  }
  
  .experience p {
    color: #4a4b6d;
    margin-top: 5px;
  }
  
  html.dark .experience p {
    color: #f9f9f9;
  }
  
  @media (max-width: 768px) {
    .about-details {
      flex-direction: column;
      text-align: center;
      padding-top: 50px;
    }

    .circle-bg {
      width: 200px;
      height: 200px;
    }

    .about-details img {
      width: 60%;
      margin-bottom: 20px;
    }
  
    .about-infos {
      max-width: 100%;
      text-align: center;
    }
  
    
  }
  