.theme-toggle-button {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background-color: #3931e1;
    color: #fff;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border: none;
}

.theme-toggle-button:hover {
    opacity: 0.9; 
}  